[credential "https://github.com"]
	helper = !/run/current-system/sw/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/run/current-system/sw/bin/gh auth git-credential
[user]
	name = Alan Randon
	email = alan.randon@outlook.com
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
