**/node_modules
**/out
scripts/apod-api-key
scripts/motd-location
newsboat/urls
newsboat/cache.db
newsboat/history.search
newsboat/history.cmdline
newsboat/queue
neomutt/accounts/*token
.abook/addressbook
.abook/addressbook~
