/*
 * mkdir -p  ~/.mozilla/firefox/$PROFILE/chrome
 * ln -s $(realpath firefox-userChrome.css)  ~/.mozilla/firefox/$PROFILE/chrome/userChrome.css */

#navigator-toolbox {
  transition: margin-top 200ms !important;
}

#navigator-toolbox:not(:focus-within, :hover) {
  --toolbar-height: 82px;
  margin-top: calc(-1 * var(--toolbar-height));
}
