@define-color base #303446;
@define-color base-translucent rgba(48, 52, 70, 0.8);
@define-color text #c6d0f5;
@define-color green #a6d189;
@define-color overlay0 #737994;
@define-color red #e78284;
@define-color blue #8caaee;

* {
  font-family: "FiraMono Nerd Font";
}

window#waybar {
  color: @text;
  background: @base;
  font-size: 1em;
  border-radius: 5px;
}

window#waybar label.module,
#tray {
  margin: 5px;
  margin-right: 0;
  padding: 0.3em 0.5em;
  border-radius: 5px;
  background: @base;
  border: @overlay0 solid 1px;
}

window#waybar label.module#clock {
  margin-right: 5px;
}

#workspaces {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

window#waybar label.module#battery.critical {
  color: @base;
  background: @red;
  border: none;
}

#workspaces button {
  margin-right: 5px;
  color: @text;
  padding: 0.2em 0.5em;
  border: none;
  box-shadow: none;
  text-shadow: none;
  transition: none;
  border-radius: 5px;
  border: @overlay0 solid 1px;
}

#workspaces button.active,
#workspaces button.focused,
#workspaces button:hover {
  /* background: @green; */
  /* color: @base; */
  border-color: @green;
}
