[Desktop Entry]
Actions=glow;newsboat;bashmount;bluetuith
Terminal=true
Exec=zsh
Name=Terminal
Icon=Alacritty

[Desktop Action glow]
Exec=glow
Terminal=true
Icon=Alacritty
Name=glow

[Desktop Action newsboat]
Exec=newsboat
Terminal=true
Icon=Alacritty
Name=newsboat

[Desktop Action bashmount]
Exec=bashmount
Terminal=true
Icon=Alacritty
Name=bashmount

[Desktop Action bluetuith]
Exec=zsh -c "rfkill unblock bluetooth && rfkill unblock wifi && bluetuith && pactl set-default-sink $(pactl list short sinks | rg bluez | cut -f1)"
Terminal=true
Icon=Alacritty
Name=bluetuith
