[Desktop Entry]
Actions=glow;newsboat;bashmount;bluetuith
Terminal=true
Exec=zsh
Name=Terminal
Icon=Alacritty

[Desktop Action glow]
Exec=glow
Terminal=true
Icon=Alacritty
Name=glow

[Desktop Action newsboat]
Exec=newsboat
Terminal=true
Icon=Alacritty
Name=newsboat

[Desktop Action bashmount]
Exec=bashmount
Terminal=true
Icon=Alacritty
Name=bashmount

[Desktop Action bluetuith]
Exec=sh -c ~/scripts/run-bluetuith
Terminal=true
Icon=Alacritty
Name=bluetuith
