[Desktop Entry]
Actions=glow;newsboat;mountui;bluetuith;netui
Terminal=true
Exec=zsh
Name=Terminal

[Desktop Action glow]
Exec=glow
Terminal=true
Name=glow

[Desktop Action newsboat]
Exec=newsboat
Terminal=true
Name=newsboat

[Desktop Action mountui]
Exec=mountui
Terminal=true
Name=mountui

[Desktop Action bluetuith]
Exec=sh -c ~/scripts/run-bluetuith
Terminal=true
Name=bluetuith

[Desktop Action netui]
Exec=nix run ~/projects/netui
Terminal=true
Name=netui
